* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.user {
    padding-right: 10px;
    color: black;
}

.login {
    padding-right: 10px;
    color: black;
}

a {
    color: white;
}

body {
    background-color: #171717;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom-width: 2px;
    border-bottom-color: white;
    border-bottom-style: dotted;
}