* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    color:white;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.user {
    padding-right: 10px;
    color: black;
}

.login {
    padding-right: 10px;
    color: black;
}

a {
    color: white;
}

body {
    background-color: #171717;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom-width: 2px;
    border-bottom-color: white;
    border-bottom-style: dotted;
}

#US:hover{
    cursor: pointer;
    fill: #505050;
}

#US:hover .button {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

#CA:hover{
    cursor: pointer;
    fill: #505050;
}

#MX:hover{
    cursor: pointer;
    fill: #505050;
}

.swal-modal {
  background-color: black;
  border: 1px solid white;
}

.swal-title {
  margin: 0px;
  font-size: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
  color: red;
}

.swal-text {
  color: white;
  text-align: center;
}

.swal-button {
    color: white;
  border-radius: 2px;
  background-color: black;
  font-size: 15px;
  border: 2px solid white;
  text-shadow: 0px -1px 0px black;
}